.timerBtn{
    width: 500px;
    height: 200px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: #40c437;
    cursor: pointer;
    font-family: consolas, monospace;
    font-size: 120px;
}
#timeDisplay{
    font-size: 300px;
    color: blue;
    font-family: consolas, monospace;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
    box-sizing: 500px;
}